<html layout:decorate="~{/common/layout}">
<head>
    <title>공지사항</title>
    <style>
        @font-face {
            font-family: 'SUIT-Regular';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
            font-weight: normal;
            font-style: normal;
        }

        * {
            font-family: 'SUIT-Regular';
        }
    </style>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<main layout:fragment="main">
    <div class="ml-96 mt-12" style="width: 950px;">
        <div style="height: 750px;" class="align-middle inline-block min-w-full shadow overflow-hidden bg-white shadow-dashboard px-8 pt-3 rounded-bl-lg rounded-br-lg">
            <a class="ml-6 inline-block p-6 text-2xl" href="#">공지사항</a>
            <table style="width: 700px;" class=" ml-24 mt-4">
                <thead>
                <thead class="table-dark">
                <tr>
                    <th class="w-6 border-r px-6 py-2 border-b-2 border-gray-300 text-left leading-4 text-gray-500 tracking-wider">번호</th>
                    <th class="w-56 px-6 py-2 border-b-2 border-gray-300 text-center text-sm leading-4 text-gray-500 tracking-wider">제목</th>
                    <th class="w-16 px-6 py-2 border-b-2 border-gray-300 text-center text-sm leading-4 text-gray-500 tracking-wider">글쓴이</th>
                    <th class="w-32 px-12 py-2 border-b-2 border-gray-300 text-left text-sm leading-4 text-gray-500 tracking-wider">작성일</th>
<!--                    <th class="px-3 py-2 border-none"></th>-->
<!--                    <th class=" px-3 py-2 border-none"></th>-->
                </tr>
                </thead>

                <tbody>
                <td></td>

                <td></td>
                <td ></td>
                </tr>
                </tbody>

                <tbody class="bg-white">
                <tr th:each="notice, loop : ${notices}">
                    <td th:text="${notices.numberOfElements - loop.index}" class="border-r px-8 py-4 whitespace-no-wrap border-b border-gray-400">
                    </td>
                    <td class="px-6 py-4 text-center  whitespace-no-wrap border-b text-gray-900 border-gray-500 text-sm leading-5">
                        <a th:href="@{|/notice/${notice.id}|}" th:text="${notice.title}"></a>
                    </td>
                    <td class="px-6 py-4 text-center whitespace-no-wrap border-b text-gray-900 border-gray-500 text-sm leading-5">
                        <span th:if="${notice.user != null}" th:text="${notice.user.username}"></span>
                    </td>
                    <td class="px-3 py-4 whitespace-no-wrap  border-b text-gray-900 border-gray-500 text-sm leading-5">
                        <span th:text="${#temporals.format(notice.createAt, 'yyyy-MM-dd HH:mm')}" class="p-2 px-2 relative text-xs bg-gray-100 rounded-3xl"></span>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="text-center max-w-2xl mx-auto my-3 mt-12 mb-12 ml-48 flex">
                <nav th:if="${!notices.isEmpty()}" aria-label="Page navigation example">
                    <ul class="inline-flex -space-x-px ml-18 ml-40">
                        <li th:classappend="${!notices.hasPrevious} ? 'disabled'">
                            <a  th:href="@{|?page=${notices.number-1}|}"
                                class="bg-white border border-gray-300 text-gray-500 hover:bg-gray-100 hover:text-gray-700 ml-0 leading-tight py-2 px-3 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"><span>previous</span></a>
                        </li>
                        <li th:each="page: ${#numbers.sequence(0, notices.totalPages-1)}"
                            th:if="${page >= notices.number-5 and page <= notices.number+5}"
                            th:classappend="${page == notices.number} ? 'active'">
                            <a th:text="${page}"
                               th:href="@{|?page=${page}|}"
                               class="bg-white border border-gray-300 text-gray-500 hover:bg-gray-100 hover:text-gray-700 leading-tight py-2 px-3 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"></a>
                        </li>
                        <li th:classappend="${!notices.hasNext} ? 'disabled'">
                            <a th:href="@{|?page=${notices.number+1}|}"
                               class="bg-white border border-gray-300 text-gray-500 hover:bg-gray-100 hover:text-gray-700 leading-tight py-2 px-3 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"><span>next</span></a>
                        </li>
                    </ul>

                </nav>
                <a th:if="${@rq.admin}" th:href="@{/notice/write}" class=" flex items-center">
                    <span class="btn-sbs p-2 px-2 ml-48">글 작성</span>
                </a>

            </div>
        </div>
    </div>
</main>
</html>