<html layout:decorate="~{/common/layout}">
<head>
    <title>my article</title>
</head>
<main layout:fragment="main">
    <div style="width: 1100px;" class="flex flex-wrap ml-72 mx-4">

        <!-- Column -->
        <div th:each="article : ${articles}" class="my-1 px-1 w-1/2 md:w-1/3 lg:my-4 lg:px-4">

            <!-- Article -->
            <article class="overflow-hidden rounded-lg shadow-lg relative">


                <!-- category badge -->
                <div th:classappend="${article.category.tailwindBadge}" class="absolute top-3 left-3 px-3" th:text="${article.category.name}"></div>

                <!--조회수 100 미만-->
                <div th:unless="${article.hit} >= 100" class="absolute w-auto rounded-full bg-gray-200 top-3 left-3/4 px-3">
                    <i class="fas fa-bolt"></i>
                    <span th:text="${article.hit}"></span>
                </div>

                <!--조회수 100 이상-->
                <div th:if="${article.hit} >= 100" class="absolute w-auto rounded-full bg-red-200 top-3 left-48 px-3">
                    <i class="fas fa-fire"></i>
                    <span th:text="${article.hit}"></span>
                </div>

                <!-- img -->
                <a class="block" th:href="|/article/${article.id}|">
                    <div class="article-thumbNail" th:utext="${article.extractThumbNail()}"></div>
                </a>


                <header class="flex items-center justify-between leading-tight p-2 md:p-4">

                    <!-- title -->
                    <h1 class="truncate w-40 h-5 inline-block text-medium">
                        <a class="no-underline hover:underline text-black" th:href="|/article/${article.id}|">
                            [[ ${article.title} ]]
                        </a>
                    </h1>

                    <!-- createAt -->
                    <p class="text-grey-darker text-sm">
                        [[ ${article.convertRelativeTime()} ]]
                    </p>

                </header>

                <footer class="flex items-center justify-between leading-none p-2 md:p-4">

                    <!-- user -->
                    <a class="flex items-center no-underline hover:underline text-black" th:href="|/${article.user.username}|">
                        <p class="truncate w-36 h-5 ml-2 text-sm">
                            [[ ${article.user.nickname} ]]
                        </p>
                    </a>

                    <!-- liks -->
                    <th:block th:unless="${@rq.login}">
                        <a like-bok class="cursor-pointer no-underline text-grey-darker" th:href="@{/article/like(id=${article.id})}">
                    </th:block>
                    <th:block th:if="${@rq.login}">
                        <a like-bok class="cursor-pointer no-underline text-grey-darker" th:hx-get="@{/ajax/article/like(id=${article.id})}">
                    </th:block>
                    <span class="">[[ ${article.likes.size()} ]]</span>
                    <i th:if="${@articleServiceImpl.hasUserLiked(article.id)}" like-icon class="fa fa-heart"></i>
                    <i th:unless="${@articleServiceImpl.hasUserLiked(article.id)}" like-icon class="fa-regular fa-heart"></i>
                    </a>

                </footer>

            </article>
            <!-- END Article -->

        </div>
        <!-- END Column -->
    </div>
</main>
</html>
