<html layout:decorate="~{/common/layout}">
<head>
    <title>mypage</title>
</head>
<main layout:fragment="main" class="bg-white p-6 shadow-md rounded-lg m-auto mt-12" style="width: 450px; height: 450px;">
   <div class="w-full h-16 bg-gray-200"><a class="text-2xl ml-32 p-4 inline-block mt-1"href="#">MY PAGE</a></div>
   <div class="flex justify-left mt-8">
    <span class="px-4 rounded-3xl bg-gray-200 h-9 mt-3"><p class="mt-1">회원</p></span>
    <div class="rounded-full overflow-hidden w-12 mr-2 ml-6 mt-1"><img src="https://velog.velcdn.com/images/hw00/post/3549bf8e-3970-4c2f-a4cc-b5409b1cc968/image.gif" /></div>
    <div class="text-xl p-2 mt-2" th:text="|${@rq.user.nickname}님 안녕하세요.|"></div>
   </div>


  <div class="mt-8">
    <div class="mt-6 ml-36" th:text="|이메일: ${@rq.user.email}|"></div>
    <div class="mt-3 ml-36"th:text="|이름: ${@rq.user.username}|"></div>
    <div class="mt-3 w-36 ml-36 bg-gray-100 flex"><i class="fa-solid fa-p mt-1"></i><p class="ml-3">내포인트:</p><p class="ml-3 font-bold">5000</p></div>
   </div>
  <div class="mt-16">
    <a class="border-2 p-2 ml-36 hover:bg-gray-200" th:href="|/${@rq.user.username}/modification|">계정 정보 수정</a>
  </div>
</main>
</html>