<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  <title>회원가입</title>
</head>
<body>
<script src="https://unpkg.com/htmx.org@1.9.5" integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO" crossorigin="anonymous"></script>
<div class="container mt-5">
  <h2>회원가입</h2>

  <label for="email">이메일</label>
  <input hx-get="/email/sendAuthKey" hx-target="#target" hx-indicator="#indicator" hx-trigger="emailSend" type="email" class="form-control" id="email" name="email" required>
  <img class="htmx-indicator" id="indicator" style="
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    font-size: 20px" src="https://i.imgur.com/8THYvPQ.gif">

  <form th:action="@{/register}" method="post" th:object="${user}">

    <div id="target">
      <button type="button" id="sendBtn">이메일 인증번호 전송</button>
    </div>

    <div class="form-group">
      <label for="username">아이디</label>
      <input type="text" class="form-control" id="username" th:field="*{username}" required>
    </div>

    <div th:if="${param.error} and ${#strings.equals(param.type, 'username')}">이미 존재하는 아이디입니다.</div>

    <div class="form-group">
      <label for="password">비밀번호</label>
      <input type="password" class="form-control" id="password" th:field="*{password}" required>
    </div>

    <div class="form-group">
      <label for="confirmPassword">비밀번호 확인</label>
      <input type="password" class="form-control" id="confirmPassword" th:field="*{confirmPassword}" required>
    </div>

    <div th:if="${param.error} and ${#strings.equals(param.type, 'password')}">비밀번호 확인이 일치하지 않습니다.</div>


    <div class="form-group">
      <label for="name">이름</label>
      <input type="text" class="form-control" id="name" th:field="*{name}" required>
    </div>

    <div class="form-group">
      <label for="nickname">닉네임</label>
      <input type="text" class="form-control" id="nickname" th:field="*{nickname}" required>
    </div>


    <div class="form-group">
      <label for="category">수업유형</label>
      <select class="form-control" th:field="*{category}">
        <option value="NONE">과정 없음</option>
        <option th:each="category : ${categories}" th:value="${category.value}">[[ ${category.name} ]]</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">가입하기</button>
  </form>
</div>

  <script th:inline="javascript">
    /* <![CDATA[ */
      $('#sendBtn').on('click', () => {
        htmx.trigger(document.querySelector('[hx-trigger="emailSend"]'), 'emailSend');
      });
    /* ]]> */
  </script>
</body>
</html>
