<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>회원가입</title>
    <style>
        @font-face {
            font-family: 'SUIT-Regular';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
            font-weight: normal;
            font-style: normal;
        }

        * {
            font-family: 'SUIT-Regular';
        }
    </style>
</head>
<body>
<script src="https://unpkg.com/htmx.org@1.9.5" integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO" crossorigin="anonymous"></script>

<div class="container mt-5 w-3/4">
    <h2 class="w-96 mt-32 m-auto"><img src="https://ifh.cc/g/2kCcF4.png" alt=""></h2>
  <div class="flex  justify-center mt-16">
        <label class="p-2 mr-2" for="email">이메일</label>
        <input hx-get="/email/sendAuthKey" hx-target="#target" hx-indicator="#indicator" hx-trigger="emailSend" type="email" style="width: 16%; border: 2px solid #d9d9d9" class="form-control" id="email" name="email" required>
        <img class="htmx-indicator" id="indicator" style="
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    font-size: 20px" src="https://i.imgur.com/8THYvPQ.gif">

        <form th:action="@{/register}" method="post" th:object="${user}">

            <div id="target" class="ml-3">
                <button class="p-2 rounded-sm " style="border: 2px solid #d9d9d9" type="button" id="sendBtn">이메일 인증번호 전송</button>
            </div>
        </form>
  </div>
    <form id="registerForm" th:action="@{/register}" method="post" th:object="${user}">
    <div class="form-group flex justify-center ml-6">
        <label class="p-2 mt-2 mr-2"for="username">아이디</label>
        <input type="text" class="form-control  mt-2 mr-48" style="width: 16%; border: 2px solid #d9d9d9" id="username" th:field="*{username}" required>
        <div  th:if="${param.error} and ${#strings.equals(param.type, 'username')}" class="p-2 mt-2">이미 존재하는 아이디입니다.</div>
    </div>



    <div class="form-group flex justify-center mr-44">
        <label class="p-2 mr-2"for="password">비밀번호</label>
        <input type="password" class="form-control" style="width: 18%; border: 2px solid #d9d9d9" id="password" th:field="*{password}" required>
    </div>

    <div class="form-group flex justify-center ml-6">
        <label class="p-2 mr-2"for="confirmPassword">비밀번호 확인</label>
        <input type="password" class="form-control mr-56" style="width: 16%; border: 2px solid #d9d9d9" id="confirmPassword" th:field="*{confirmPassword}" required>
        <div th:if="${param.error} and ${#strings.equals(param.type, 'password')}" class="p-2">비밀번호 확인이 일치하지 않습니다.</div>
    </div>




    <div class="form-group flex justify-center mr-36">
        <label class="p-2 mr-2" for="name">이름</label>
        <input type="text" class="form-control" style="width: 18%; border: 2px solid #d9d9d9" id="name" th:field="*{name}" required>
    </div>

    <div class="form-group flex justify-center mr-40">
        <label class="p-2 mr-2"for="nickname">닉네임</label>
        <input type="text" class="form-control" style="width: 18%; border: 2px solid #d9d9d9" id="nickname" th:field="*{nickname}" required>
    </div>


    <div class="form-group flex justify-center mr-44">
        <label for="category" class="p-2 mr-2">수업유형</label>
        <select class="form-control  " style="width: 18%; border: 2px solid #d9d9d9"  th:field="*{category}">
            <option value="NONE">과정 없음</option>
            <option th:each="category : ${categories}" th:value="${category.value}">[[ ${category.name} ]]</option>
        </select>
    </div>
    <div class="ml-96">
        <button type="submit" class="btn btn-outline-secondary mr-14 ml-96 mt-10 whitespace-nowrap " style="border: 2px solid #d9d9d9">가입하기</button>
    </div>
    </form>
</div>

<script th:inline="javascript">
    /* <![CDATA[ */
    $('#sendBtn').on('click', () => {
        htmx.trigger(document.querySelector('[hx-trigger="emailSend"]'), 'emailSend');
    });


    $("#registerForm").submit((e) => {
        e.preventDefault();

         const formData = new FormData($("#registerForm")[0]); // DOM 요소를 전달해야 합니다

        formData.append("email", $("#hiddenAuthedEmail").val()); // val() 메서드를 사용하여 값을 가져와야 합니다


            fetch("/register", {
                method: "POST",
                body: formData,
            })
            .then((response) => {
                if (response.ok) {
                    location.href = "/"
                } else {
                    console.error("전송 실패");
                }
            })
            .catch((error) => {
                console.error("전송 중 오류 발생", error);
            });


    })



    /* ]]> */
</script>
</body>
</html>
