<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <title>Title</title>
</head>
<body>
    <h1> 커뮤니티 페이지</h1>
    <br>
    <div>
        <a style="font-size: 20px" th:href="@{/article/write}">새 글 작성</a>
    </div>
    <br>
    <br>
    <br>
    <form id="categoryForm" th:action="@{/article?page=1}" method="get">
        <div class="form-group">
            <label for="category">카테고리</label>
            <select class="form-control" id="category" name="category">
                <option value="ALL">전체 글</option>
                <option th:each="category : ${categories}" th:value="${category.value}">[[ ${category.name} ]]</option>
            </select>
        </div>
    </form>
    <ul th:each="article : ${articles}">
        <li>
            <span th:text="${article.category.name}"></span>
            <span th:text="${article.id}"></span>
            <span>
                <a
                        th:href="|/article/${article.id}|"
                        th:text="${article.title}"></a>
            </span>
            <span th:text="${article.user.nickname}"></span>
            <span th:text="${article.createAt}"></span>
            <span th:text="${article.hit}"></span>
        </li>
    </ul>
    <br><br>
        <button
                th:each="num : ${pageRange}"
                th:text="${num}"
                class="pageBtn">
        </button>
<script th:inline="javascript">
    /*<![CDATA[*/

    const selectedCategory = ([[${param.category}]] != null ? [[${param.category}]] : "ALL");

    // 카테고리 기본 선택 속성 추가
    if(selectedCategory == null){
        $("#category > option[value=ALL]").attr("selected", true);
    } else {
        $("#category > option[value="+selectedCategory+"]").attr("selected", true);
    }



    // 페이지 이동
    $(".pageBtn").on( 'click', (event) => {
        location.href = "/article?page=" + event.target.innerHTML + "&category=" + selectedCategory;
    })



    // 카테고리 변경
    $("#category").on("change", () => {
        $("#categoryForm").submit();
    })



    /*]]>*/
</script>

</body>
</html>