<html layout:decorate="~{/common/layout}">
<head>
    <title>게시글</title>
    <style>
        #content  img {
            width: 50% !important;
        }
    </style>
</head>
<main layout:fragment="main">
    <div class="container lg:px-32 md:mx-auto mx-auto py-8">
        <div style="width: 850px;"class="bg-white p-12 shadow-md rounded-lg relative m-auto">

            <div class="flex items-center justify-start mb-3 ml-6">
                <!-- category badge  -->
                <div th:classappend="${article.category.tailwindBadge}" class="px-3 mr-3" th:text="${article.category.name}"></div>

                <!--조회수 100 미만-->
                <div th:unless="${article.hit} >= 100" class="w-auto rounded-full bg-gray-200 px-3">
                    <i class="fas fa-bolt"></i>
                    <span th:text="${article.hit}"></span>
                </div>

                <!--조회수 100 이상-->
                <div th:if="${article.hit} >= 100" class="w-auto rounded-full bg-red-200 px-3">
                    <i class="fas fa-fire"></i>
                    <span th:text="${article.hit}"></span>
                </div>
            </div>

            <!-- title -->
            <h1 class="text-2xl font-semibold mb-7 ml-6">[[ ${article.title} ]]</h1>

            <div class="flex justify-between items-center mb-16">

                <div class="inline-flex items-center ml-4">
                    <!-- user -->
                    <a class="flex items-center no-underline hover:underline text-black" th:href="|/${article.user.username}|">
                        <p class="truncate w-auto h-5 ml-2 text-sm">
                            [[ ${article.user.nickname} ]]
                        </p>
                    </a>

                    <div class="mx-2">•</div>

                    <!-- createAt -->
                    <p class="text-grey-darker text-sm">
                        [[ ${article.convertRelativeTime()} ]]
                    </p>

                    <div class="mx-2">•</div>

                    <!-- liks -->
                    <th:block th:unless="${@rq.login}">
                        <a like-bok class="cursor-pointer no-underline text-grey-darker" th:href="@{/article/like(id=${article.id})}">
                    </th:block>
                    <th:block th:if="${@rq.login}">
                        <a like-bok class="cursor-pointer no-underline text-grey-darker" th:hx-get="@{/ajax/article/like(id=${article.id})}">
                    </th:block>
                    <span class="">[[ ${article.likes.size()} ]]</span>
                    <i th:if="${@articleServiceImpl.hasUserLiked(article.id)}" like-icon class="fa fa-heart"></i>
                    <i th:unless="${@articleServiceImpl.hasUserLiked(article.id)}" like-icon class="fa-regular fa-heart"></i>
                    </a>
                </div>

                <div>
                    <a th:if="${@rq.user.id == article.user.id}" class="hover:text-sbs mr-3" th:href="|/article/write?id=${article.id}|">수정</a>
                    <a th:if="${@rq.user.id == article.user.id}" class="hover:text-sbs" th:href="|/article/delete?id=${article.id}|">삭제</a>
                </div>

            </div>

            <!-- content -->
            <div id="content" class="white-space: pre-line ml-6" th:utext="${article.content}"></div>

            <!-- comment form -->
            <div class="flex mx-auto items-center justify-center mt-12 mx-5 mb-4">
                <form id="commentForm" th:action="@{/comment/write}" method="POST" class="bg-white rounded-lg px-4 pt-2">

                    <input type="hidden" name="articleId" th:value="${article.id}"/>

                    <div class="flex flex-wrap -mx-3 mb-6">

                        <h2 class="px-4 pt-3 pb-2 text-gray-800 text-lg">댓글</h2>

                        <div class="w-full md:w-full px-3 mb-2 mt-2">
                            <textarea id="content" class="bg-gray-100 rounded border border-gray-400 leading-normal resize-none w-full h-20 py-2 px-3 font-medium placeholder-gray-700 focus:outline-none focus:bg-white" name="content" placeholder='댓글을 입력해주세요.' required></textarea>
                        </div>

                        <div class="w-full md:w-full flex items-start md:w-full px-3">
                            <div class="flex items-start w-1/2 text-gray-700 px-2 mr-auto">
                                <svg fill="none" class="w-5 h-5 text-gray-600 mr-1" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
                                </svg>
                                <p class="text-xs md:text-sm pt-px">분란을 조장하는 댓글은 불시에 삭제될 수 있습니다.</p>
                            </div>
                            <div class="-mr-1">
                                <input th:if="${@rq.login}" type='submit' class="border-2 p-2 hover:bg-gray-200 py-1 px-4tracking-wide mr-1" value='댓글 작성'>
                                <a th:unless="${@rq.login}" href="/login" class="border-2 p-2 py-1 px-4tracking-wide mr-1">댓글 작성</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div th:if="${article.comments.size()} == 0" th:text="|작성된 댓글이 없습니다.|"></div>
            <ul>
                <!-- 이 부분은 Tailwind CSS를 사용하여 댓글 목록의 각 항목에 스타일을 적용하는 부분입니다. -->
                <li th:each="comment : ${article.comments}" class="bg-white border border-gray-200 p-4 mb-4 rounded-lg shadow-md">
                    <div class="flex justify-between items-center mb-2">
                        <div>
                            <!-- 좋아요 버튼 -->
                            <a like-btn class="cursor-pointer no-underline text-gray-darker" th:href="|/comment/like?articleId=${article.id}&commentId=${comment.id}|">
                                <span class="text-sm">[[ ${comment.likes.size()} ]]</span>
                                <i th:if="${@articleServiceImpl.hasUserLikedComment(article.id, comment.id)}" class="fas fa-heart"></i>
                                <i th:unless="${@articleServiceImpl.hasUserLikedComment(article.id, comment.id)}" class="far fa-heart"></i>
                            </a>
                            <span class="ml-2 text-gray-600" th:text="${comment.user.nickname}"></span>
                        </div>

                        <div>
                            <!-- 등록 날짜 -->
                            <div class="text-gray-600" th:text="${comment.convertRelativeTime()}"></div>

                            <!-- 수정 및 삭제 버튼 -->
                            <div class="mt-2">
                                <button th:if="${@rq.user.id} == ${comment.user.id}" th:id="|modifyModeBtn${comment.id}|" th:comment_id="${comment.id}" onclick="commentModifyMode(this)" class="hover:text-sbs">수정</button>
                                <button th:if="${@rq.user.id} == ${comment.user.id} or ${@rq.isAdmin()}" th:comment_id="${comment.id}" onclick="deleteComment(this)" class="hover:text-sbs">삭제</button>
                            </div>
                        </div>

                    </div>

                    <!-- 수정 폼 -->
                    <form class="commentModifyForm" th:action="|/comment/write?articleId=${article.id}&commentId=${comment.id}|" method="post" th:id="|commentModifyForm${comment.id}|">
                        <textarea name="content" th:text="${comment.content}" rows="2" required class="w-full p-2 border border-gray-200 rounded-lg" style="resize: none;"></textarea>
                        <button style="display: none" th:comment_id="${comment.id}" onclick="commentReadMode(this)" class="btn-sbs-outline">수정하기</button>
                    </form>
                </li>

            </ul>
        </div>
    </div>



    <script th:inline="javascript">
        /*<![CDATA[*/

        // 좋아요 아이콘 hover
            $('a[like-bok]').each(function() {
                const likeBox = $(this);
                likeBox.hover( () => {
                    const likeIcon = likeBox.find('i');
                    likeIcon.toggleClass("fa-regular");
                    likeIcon.toggleClass("fa");
                });
            });




        $(document).ready( () => {
            $(".commentModifyForm > textarea").prop("disabled", true);
        })




        function commentModifyMode(e){
            const commentId = e.getAttribute("comment_id");
            $("#commentModifyForm" + commentId + " > textarea").prop("disabled", false);
            $("#commentModifyForm" + commentId + " > button").css('display', 'inline');
            $("#modifyModeBtn" + commentId).css('display', 'none');
        }

        function commentReadMode(e){
            const commentId = e.getAttribute("comment_id");

            // form 데이터 submit
            $("#commentModifyForm" + commentId).submit();
        }

        function deleteComment(e){
            const commentId = e.getAttribute("comment_id");
            const articleId = [[ ${article.id} ]];
            location.href = "/comment/delete?articleId=" + articleId + "&commentId=" + commentId;
        }



        /*]]>*/
    </script>
</main>
</html>