<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <title>Title</title>
</head>
<body>
    <div th:text="|${article.likes.size()}개의 좋아요|"></div>
    <div th:text="|카테고리: ${article.category.name}|"></div>
    <div th:text="|작성자: ${article.user.nickname}|"></div>
    <div th:text="${article.createAt}"></div>
    <div th:text="|조회수: ${article.hit}|"></div>
    <h1 th:text="|제목: ${article.title}|"></h1>
    <div th:text="${article.content}"></div>
    <br><br><br>

    <div>
        <span>
            <a th:href="|/article/write?id=${article.id}|">게시글 수정</a>
        </span>

        <span>
            <a th:href="|/article/delete?id=${article.id}|">게시글 삭제</a>
        </span>
    </div>

    <br><br>
    <h1>댓글 작성 폼</h1>

    <form th:action="|/comment/write?articleId=${article.id}|" method="POST">
        <!-- 댓글 내용 입력 필드 -->
        <div class="mb-3">
            <label for="content" class="form-label">댓글 내용</label>
            <textarea class="form-control" id="content" name="content" rows="4" required></textarea>
         </div>
        <!-- 댓글 작성 버튼 -->
        <button type="submit" class="btn btn-primary">댓글 작성</button>
    </form>

    <br><br>
    <div th:if="${article.comments.size()} == 0" th:text="|작성된 댓글이 없습니다.|"></div>
    <ul>
        <li th:each="comment : ${article.comments}">
            <div th:text="|${comment.likes.size()}개의 좋아요|"></div>
            <div th:text="${comment.user.nickname}"></div>
            <div th:text="${comment.createAt}"></div>
            <form th:action="|/comment/write?articleId=${article.id}&commentId=${comment.id}|" method="post" th:id="|commentModifyForm${comment.id}|">
                <textarea name="content" th:text="${comment.content}" rows="2" disabled required></textarea>
                <button style="display: none" th:comment_id="${comment.id}" onclick="commentReadMode(this)">수정하기</button>
            </form>
            <button th:if="${@rq.user.id} == ${comment.user.id}" th:id="|modifyModeBtn${comment.id}|" th:comment_id="${comment.id}" onclick="commentModifyMode(this)">수정</button>
            <br><br>
        </li>
    </ul>

    <br><br>

<script th:inline="javascript">
    /*<![CDATA[*/
    function commentModifyMode(e){
        const commentId = e.getAttribute("comment_id");
        $("#commentModifyForm" + commentId + " > textarea").attr("disabled", false);
        $("#commentModifyForm" + commentId + " > button").css('display', 'inline');
        $("#modifyModeBtn" + commentId).css('display', 'none');
    }

    function commentReadMode(e){
        const commentId = e.getAttribute("comment_id");
        $("#commentModifyForm" + commentId + " > textarea").attr("disabled", true);
        $("#commentModifyForm" + commentId + " > button").css('display', 'none');
        $("#modifyModeBtn" + commentId).css('display', 'inline');

        $("#commentModifyForm" + commentId).submit();
    }



    /*]]>*/
</script>

</body>
</html>