<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <title>Title</title>
</head>
<body>
    <ul th:each="article : ${articles}">
        <li>
            <span th:text="${article.category.categoryName}"></span>
            <span th:text="${article.id}"></span>
            <span th:text="${article.title}"></span>
            <span th:text="${article.user.nickname}"></span>
            <span th:text="${article.createAt}"></span>
            <span th:text="${article.hit}"></span>
        </li>
    </ul>
    <br><br>
        <button
                th:each="num : ${pageRange}"
                th:text="${num}"
                class="pageBtn">
        </button>


<script th:inline="javascript">
    /* <![CDATA[ */
    const totalPage = [[ ${articles.getTotalPages()} ]];
    const urlSearch = new URLSearchParams(location.search);
    const currentPage = urlSearch.get("page");

    // 페이지 이동
    $(".pageBtn").on( 'click', (event) => {
        location.href = "/article?page=" + event.target.innerHTML;
    })



    /* ]]> */
</script>

</body>
</html>