@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-domain {
    @apply block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-blue-700 lg:p-0;
}

.btn-blue{
    @apply text-white bg-blue-500 hover:text-blue-800 border-2 border-blue-500 hover:border-2 hover:bg-white font-medium rounded-full text-sm px-4 lg:px-5 py-2 lg:py-2;
}

.btn-blue-outline{
    @apply text-blue-800 hover:text-white border-2 border-blue-500 hover:border-2 hover:bg-blue-500 font-medium rounded-full text-sm px-4 lg:px-5 py-2 lg:py-2;
}

.pagination-num{
    @apply w-10 h-10 text-indigo-600 transition-colors duration-150 rounded-full hover:bg-indigo-100;
}


.pagination-num-current{
    @apply w-10 h-10 text-white transition-colors duration-150 bg-indigo-600 border border-r-0 border-indigo-600 rounded-full;
}