<html layout:decorate="~{/common/layout}">
<head>

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<main layout:fragment="main">
    <div class="my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 pr-10 lg:px-8">

        <div class="row my-3">
            <div class="col-6">
                <a th:href="@{/question/create}" class="btn-sbs my-3">질문 등록하기</a>
            </div>
            <div class="col-6 my-5">
                <div class="input-group">
                    <input type="text" id="search_kw" class="form-control" th:value="${kw}">
                    <button class="btn btn-outline-secondary" type="button" id="btn_search">찾기</button>
                </div>
            </div>
        </div>

        <div class="align-middle inline-block min-w-full shadow overflow-hidden bg-white shadow-dashboard px-8 pt-3 rounded-bl-lg rounded-br-lg">
            <table class="min-w-full">
                <thead>
                <thead class="table-dark">
                <tr>
                    <th class="px-6 py-3 border-b-2 border-gray-300 text-left leading-4 text-blue-500 tracking-wider">번호</th>
                    <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-blue-500 tracking-wider">카테고리</th>
                    <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-blue-500 tracking-wider">제목</th>
                    <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-blue-500 tracking-wider">글쓴이</th>
                    <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-blue-500 tracking-wider">Created At</th>
                    <th class="px-6 py-3 border-b-2 border-gray-300"></th>
                </tr>
                </thead>

                <tbody>
                    <td></td>

                    <td></td>
                    <td ></td>
                </tr>
                </tbody>

                <tbody class="bg-white">
                <tr th:each="question, loop : ${paging}">
                    <td th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}"
                        class="px-6 py-4 whitespace-no-wrap border-b border-gray-500">
                    </td>
                    <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-500">
                        <span th:classappend="${question.category.tailwindBadge}" class="relative inline-block px-3 py-1 font-semibold text-green-900 leading-tight rounded-full">
                                        <span aria-hidden ></span>
                                        <span th:text="${question.category.name}"></span>
                                    </span>
                    </td>
                    <td class="px-6 py-4 whitespace-no-wrap border-b text-blue-900 border-gray-500 text-sm leading-5">
                        <a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}"></a>
                        <span class="text-danger small ms-2"
                              th:if="${question.answers.size() > 0}"
                              th:text="${question.answers.size()}">
                        </span>
                    </td>
                    <td class="px-6 py-4 whitespace-no-wrap border-b text-blue-900 border-gray-500 text-sm leading-5">
                        <span th:if="${question.user != null}" th:text="${question.user.username}"></span>
                    </td>
                    <td class="px-6 py-4 whitespace-no-wrap border-b text-blue-900 border-gray-500 text-sm leading-5">
                                        <span class="relative inline-block px-3 py-1 font-semibold text-green-900 leading-tight">
                                        <span aria-hidden class="absolute inset-0 bg-green-200 opacity-50 rounded-full"></span>
                                        <span th:text="${#temporals.format(question.createAt, 'yyyy-MM-dd HH:mm')}"
                                              class="relative text-xs"></span>
                                    </span>
                    </td>

<!--        행 우측 끝단 버튼          -->
<!--                    <td class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-500 text-sm leading-5">-->
<!--                        <button class="px-5 py-2 border-blue-500 border text-blue-500 rounded transition duration-300 hover:bg-blue-700 hover:text-white focus:outline-none">View Details</button>-->
<!--                    </td>-->

                </tr>
                </tbody>
            </table>
        </div>
        <div class="text-center max-w-2xl mx-auto my-3">
            <nav th:if="${!paging.isEmpty()}" aria-label="Page navigation example">
                <ul class="inline-flex -space-x-px">
                    <li th:classappend="${!paging.hasPrevious} ? 'disabled'">
                        <a href="javascript:void(0)"
                           th:data-page="${paging.number - 1}"
                           class="bg-white border border-gray-300 text-gray-500 hover:bg-gray-100 hover:text-gray-700 ml-0 rounded-l-lg leading-tight py-2 px-3 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"><span>previous</span></a>
                    </li>
                    <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                        th:if="${page >= paging.number-5 and page <= paging.number+5}"
                        th:classappend="${page == paging.number} ? 'active'">
                        <a th:text="${page}"
                           href="javascript:void(0)"
                           th:data-page="${page}"
                           class="bg-white border border-gray-300 text-gray-500 hover:bg-gray-100 hover:text-gray-700 leading-tight py-2 px-3 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"></a>
                    </li>
                    <li th:classappend="${!paging.hasNext} ? 'disabled'">
                        <a th:href="@{|?page=${paging.number+1}|}"
                           href="javascript:void(0)"
                           th:data-page="${paging.number+1}"
                           class="bg-white border border-gray-300 text-gray-500 hover:bg-gray-100 hover:text-gray-700 leading-tight py-2 px-3 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"><span>next</span></a>
                    </li>
                </ul>

            </nav>
        </div>
    </div>
    <form th:action="@{/question}" method="get" id="searchForm">
        <input type="hidden" id="kw" name="kw" th:value="${kw}">
        <input type="hidden" id="page" name="page" th:value="${paging.number}">
    </form>
    <script type='text/javascript'>
        const page_elements = document.getElementsByClassName("page-link");
        Array.from(page_elements).forEach(function(element) {
            element.addEventListener('click', function() {
                document.getElementById('page').value = this.dataset.page;
                document.getElementById('searchForm').submit();
            });
        });
        const btn_search = document.getElementById("btn_search");
        btn_search.addEventListener('click', function() {
            document.getElementById('kw').value = document.getElementById('search_kw').value;
            document.getElementById('page').value = 0;  // 검색버튼을 클릭할 경우 0페이지부터 조회한다.
            document.getElementById('searchForm').submit();
        });
    </script>
</main>