<html layout:decorate="~{/common/layout}">
<head>
    <title>커뮤니티</title>
    <style>
        @font-face {
            font-family: 'SUIT-Regular';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
            font-weight: normal;
            font-style: normal;
        }

        * {
            font-family: 'SUIT-Regular';
        }
    </style>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<main layout:fragment="main">




    <div class="ml-96 mt-12" style="width: 950px;">

<!--    검색기능    -->
<!--        <div class="align-middle rounded-tl-lg rounded-tr-lg inline-block w-full py-4 overflow-hidden bg-white shadow-lg px-12">-->
<!--            <div class="flex justify-between">-->
<!--                <div class="inline-flex border rounded w-7/12 px-2 lg:px-6 h-12 bg-transparent">-->
<!--                    <div class="flex flex-wrap items-stretch w-full h-full mb-6 relative">-->
<!--                        <div class="flex">-->
<!--                                    <span class="flex items-center leading-normal bg-transparent rounded rounded-r-none border border-r-0 border-none lg:px-3 py-2 whitespace-no-wrap text-grey-dark text-sm">-->
<!--                                        <svg width="18" height="18" class="w-4 lg:w-auto" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--                                            <path d="M8.11086 15.2217C12.0381 15.2217 15.2217 12.0381 15.2217 8.11086C15.2217 4.18364 12.0381 1 8.11086 1C4.18364 1 1 4.18364 1 8.11086C1 12.0381 4.18364 15.2217 8.11086 15.2217Z" stroke="#455A64" stroke-linecap="round" stroke-linejoin="round" />-->
<!--                                            <path d="M16.9993 16.9993L13.1328 13.1328" stroke="#455A64" stroke-linecap="round" stroke-linejoin="round" />-->
<!--                                        </svg>-->
<!--                                    </span>-->
<!--                        </div>-->
<!--                        <input type="text" class="flex-shrink flex-grow flex-auto leading-normal tracking-wide w-px flex-1 border border-none border-l-0 rounded rounded-l-none px-3 relative focus:outline-none text-xxs lg:text-xs lg:text-base text-gray-500 font-thin" placeholder="Search">-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

        <div style="height: 850px;"class="align-middle inline-block min-w-full shadow overflow-hidden bg-white shadow-dashboard px-8 pt-3 rounded-bl-lg rounded-br-lg">
            <a class="ml-6 inline-block p-6 text-2xl "href="#">홈 > QNA</a>
            <table class="min-w-full ml-12 mt-4">
                <thead>
                <thead class="table-dark">
                <tr>
                    <th class="px-6 py-3 border-b-2 border-gray-300 text-left leading-4 text-gray-500 border-r tracking-wider">번호</th>
                    <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-gray-500 tracking-wider">카테고리</th>
                    <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-gray-500 tracking-wider">제목</th>
                    <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-gray-500 tracking-wider">글쓴이</th>
                    <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-gray-500 tracking-wider">Created At</th>
                    <th class="px-6 py-3"></th>
                </tr>
                </thead>

                <tbody>
                    <td></td>

                    <td></td>
                    <td ></td>
                </tr>
                </tbody>

                <tbody class="bg-white">
                <tr th:each="question, loop : ${paging}">
                    <td th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}"
                        class="px-8 py-4 whitespace-no-wrap border-b border-r border-gray-400">
                    </td>
                    <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-400">
                        <span th:classappend="${question.category.tailwindBadge}" class="relative inline-block px-3 py-1 font-semibold text-gray-600 leading-tight rounded-full">
                                        <span aria-hidden ></span>
                                        <span th:text="${question.category.name}"></span>
                                    </span>
                    </td>
                    <td class="px-6 py-4 whitespace-no-wrap border-b text-blue-900 border-gray-500 text-sm leading-5">
                        <a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}"></a>
                        <span class="text-danger small ms-2"
                              th:if="${question.answers.size() > 0}"
                              th:text="${question.answers.size()}">
                        </span>
                    </td>
                    <td class="px-6 py-4 whitespace-no-wrap border-b text-blue-900 border-gray-500 text-sm leading-5">
                        <span th:if="${question.user != null}" th:text="${question.user.username}"></span>
                    </td>
                    <td class="px-6 py-4 whitespace-no-wrap border-b text-blue-900 border-gray-500 text-sm leading-5">
                                        <span class="relative inline-block px-3 py-1 font-semibold text-gray-500 leading-tight">
                                        <span aria-hidden class="absolute inset-0 bg-gray-200 opacity-50 rounded-full"></span>
                                        <span th:text="${#temporals.format(question.createAt, 'yyyy-MM-dd HH:mm')}"
                                              class="relative text-xs"></span>
                                    </span>
                    </td>

<!--        행 우측 끝단 버튼          -->
<!--                    <td class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-500 text-sm leading-5">-->
<!--                        <button class="px-5 py-2 border-blue-500 border text-blue-500 rounded transition duration-300 hover:bg-blue-700 hover:text-white focus:outline-none">View Details</button>-->
<!--                    </td>-->

                </tr>
                </tbody>
            </table>
            <div class="text-center max-w-2xl mx-auto my-3 mt-12 mb-12 ml-48">
                <nav th:if="${!paging.isEmpty()}" aria-label="Page navigation example">
                    <ul class="inline-flex -space-x-px ml-18">
                        <li th:classappend="${!paging.hasPrevious} ? 'disabled'">
                            <a  th:href="@{|?page=${paging.number-1}|}"
                                class="bg-white border border-gray-300 text-gray-500 hover:bg-gray-100 hover:text-gray-700 ml-0 rounded-l-lg leading-tight py-2 px-3 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"><span>previous</span></a>
                        </li>
                        <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                            th:if="${page >= paging.number-5 and page <= paging.number+5}"
                            th:classappend="${page == paging.number} ? 'active'">
                            <a th:text="${page}"
                               th:href="@{|?page=${page}|}"
                               class="bg-white border border-gray-300 text-gray-500 hover:bg-gray-100 hover:text-gray-700 leading-tight py-2 px-3 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"></a>
                        </li>
                        <li th:classappend="${!paging.hasNext} ? 'disabled'">
                            <a th:href="@{|?page=${paging.number+1}|}"
                               class="bg-white border border-gray-300 text-gray-500 hover:bg-gray-100 hover:text-gray-700 leading-tight py-2 px-3 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"><span>next</span></a>
                        </li>
                    </ul>
                    <a th:href="@{/question/create}" class="p-2 bg-gray-200 hover:bg-gray-300 sticky ml-24 ">질문 등록하기</a>
                </nav>
            </div>
        </div>
    </div>
</main>
</html>

