<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h1>home</h1>
    <ul>
        <li>
            <a th:href="@{/article}">커뮤니티</a>
        </li>

        <li sec:authorize="isAnonymous()">
            <a th:href="@{/login}">로그인</a>
        </li>

        <li  sec:authorize="isAnonymous()">
            <a th:href="@{/register}">회원가입</a>
        </li>

        <li sec:authorize="hasRole('USER')">
            <a th:href="|/${@rq.user.username}/modification|">계정 정보 수정</a>
        </li>

        <li>
            <a th:href="@{/question}">QnA</a>
        </li>

        <li sec:authorize="isAuthenticated()">
            <a th:href="@{/logout}">로그아웃</a>
        </li>

        <li th:if="${#authorization.expression('not hasRole(''ADMIN'')')}">
            <a th:href="@{/admin/grantAuthority}">관리자 권한 발급</a>
        </li>

        <li sec:authorize="hasRole('ADMIN')">
            <a th:href="@{/admin/revokeAuthority}">관리자 권한 박탈</a>
        </li>

        <li sec:authorize="isAuthenticated()">
            <a th:href="@{/withdrawal}">회원탈퇴</a>
        </li>
    </ul>

</body>
</html>