<html layout:decorate="~{/common/layout}">
<head>
    <title>point store</title>
</head>
<main layout:fragment="main">

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        <div th:each="item : ${storeItems}" class="p-4 border rounded-lg shadow-md">
            <!-- 아이템 이미지 (예시) -->
            <img th:src="${item.imgLink}" alt="상품 이미지" class="w-full h-40 object-cover">

            <div class="mt-4">
                <div class="text-lg font-semibold" th:text="${item.name}"></div>
                <div class="text-gray-600" th:text="${item.description}"></div>
                <div class="flex justify-between items-center mt-2">
                    <div>
                        <span class="text-xl font-bold text-gray-500" th:text="'₩' + ${item.price}"></span>
                        <span class="ml-2 text-sm" th:if="${item.quantity} == 0">매진</span>
                        <span class="ml-2 text-sm" th:unless="${item.quantity} == 0" th:text="${item.quantity + ' 재고'}"></span>
                    </div>
                    <button class="px-4 py-2 btn-sbs" type="button" th:value="${item.id}">구매하기</button>
                </div>
            </div>
        </div>
    </div>



    <script>
        $(document).ready(function () {
            $(".purchaseBtn").click(function () {
                var itemId = $(this).val();
                $.ajax({
                    url: "/point/purchase?id=" + itemId,
                    type: "GET",
                    beforeSend: function () {
                        alert("구매 요청을 처리중입니다...");
                    },
                    success: function (data) {
                        if(data != -1) {
                            console.log("구매 성공, 남은 재고: " + data);
                            $("div[itemQuantity=" + itemId + "]").text(data);
                        } else {
                            alert("구매에 실패했습니다.");
                        }
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
            });
        });

    </script>

</main>
</html>
